@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
